@CHARSET "ISO-8859-1";

.login-body{
	padding-top:30px;
}
.login-input{
	margin-bottom: 25px;
}

.login-btn{
	margin-top:10px;
}

.login-registrar{
/*border-top: 1px solid#400080;*/
margin-top:10px;
padding-top: 15px;
 font-size:85%	
}

.error{
	border-bottom-color: red;
	border-bottom:2px;
}

.body-menu{
	margin-left: 350px;
	width: 800px;
}

.left-menu{
	
}
  